<div>
  <ul>
  <div><img src ="<%= @company.icon %>"><div>

  <div>
    <p><strong><%= @company.name %></a></strong></p>
    <p>email: <%= @company.email %></p>
    <p>City: <%= @company.city %></p>
  </div>
  </ul>
</div>













<a href="/logout">Logout</a>
