
  <div class="company">
    <ul>

      <img src ="<%= @company.icon %>">
      <strong><%= @company.name %></a></strong>
      <strong>(email: <%= @company.email %>)</strong>

    </ul>
  </div>













<a href="/logout">Logout</a>
