<form method="post" action="/search">
  <div>
    <label>Search:</label>
    <input type="text" name="search" value="search">
    <button type="submit">Enter</button>
  </div>
</form>

<% if @search_errors %>
  <div>
    <p>Please search by the correct name</p>
  </div>
<% end %>

<div>
  <ul>
  <div><img src ="<%= @company.icon %>"><div>

  <div>
    <p><strong><%= @company.name %></a></strong></p>
    <p>email: <%= @company.email %></p>
    <p>City: <%= @company.city %></p>
  </div>
  </ul>
</div>













<a href="/logout">Logout</a>
