 <!-- HEADER -->
  <div class="header">
    
      <!-- LOGO -->
      <div class="logo">
          <a href="#homepage" title="Flatr - Metro Parallax Multipurpose Coming Soon"><img src="images/logo2.png" alt="Flatr - Metro Parallax Multipurpose Coming Soon"></a>
        </div>
        
        <!-- NAVIGATION -->
       <!--  <ul class="nav-bar hide-for-small">
            <li class="active"><a href="#homepage">HOME</a></li>
            <li><a href="#subscribe">SUBSCRIBE</a></li>
            <li><a href="#twitter">TWITTER</a></li>
            <li><a href="http://www.themeforest.net" target="_blank">PURCHASE</a></li>
        </ul>
         -->
       
        <div class="login-logout-buttons">
          <ul class="button-group">
            <li><a href="#" class="button">Login</a></li>
            <li><a href="#" class="button">Logout</a></li>
          </ul>
        </div>      

        <!-- Mobile Navigation -->
        <!-- <select class="responsive-nav show-for-small" onchange="moveTo(this.value)" onFocus="moveTo(this.value)">
          <option value="" selected="">Main Navigation</option>
          <option value="#homepage">Home</option>
          <option value="#subscribe">Subscribe</option>
          <option value="#twitter">Social Media</option>
          <option value="http://www.themeforest.net">Purchase</option>
          <option value="http://www.facebook.com/AvaPremiumThemes">Facebook</option>
          <option value="https://twitter.com/AVAThemes">Twitter</option>
          <option value="http://dribbble.com/AVAThemes">Dribbble</option>
        </select> -->
    </div>  